.member-card {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    border: 1px solid lightgray;
    box-shadow: inset 0 0 10px #000000;
    padding: 20px
}

.team-info {
    display: flex;
    flex-direction: column;
}

.team-name {
    font-size: 3rem;
}

.team-list-pic {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-right: 10%;
}

.member-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
}

.delete-area {
   margin-top: 20vh;
}

.members {
    margin-top: 5%;
}

.premium-or-cancel button {
    margin: 0 10px;
}

.name-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 20px;
    width: 20%;
}

.name-info svg {
    cursor: pointer;
}

.name-info h2 {
    margin-right: 20px;
}

.change-name {
    position: absolute;
}

.change-name input {
    margin-top: 15px;
    font-size: 1.5rem;
    border-radius: 30px;
    padding: 5px 20px;
}

.change-name button {
    margin: 10px 5px;
    width: 40%;
    font-size: 1.3rem;
    border-radius: 50px;
    cursor: pointer;
}

.save-team:hover {
    background: #55efc4;
}

.cancel-save-team:hover {
    background: #fab1a0;   
}