.team-settings-page {
    display: flex;
    justify-content: flex-start;
}

.team-settings {
    width: 50%;
    border-left: 1px solid gray;
    padding-left: 20px;
}

@media (min-width: 1200px) {
    .team-settings {
        width: 75%;
    }
}

.member-card {
    display: flex;
    align-items: center;
    width: 95%;
    padding: 1%;
    justify-content: space-between;
}

.member-card h2 {
    font-weight: bold;
}

.team-info {
    display: flex;
    flex-direction: column;
}

.team-name {
    font-size: 2rem;
}

.team-list-pic {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 3%;
}

@media (max-width: 800px) {
    .team-list-pic {
        display: none;
    }
}

.member-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
}

.member-info h2 {
    font-size: 1.2rem;
    text-align: left;
}

.delete-area {
    float: bottom;
    bottom: 0;
    line-height: 1.2;
}

.delete-area h2 {
    font-size: 1.2rem;
    width: 60%;
}

.members {
    display: flex;
    flex-wrap: wrap;
}

.premium-or-cancel {
   display: flex;
}

.name-info {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.2%;
}

.name-info svg {
    cursor: pointer;
}

.name-info h2 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 7px;
}

.change-name {
    width: 33%;
}

.change-name input {
    /* margin-top: 15px; */
    font-size: 1.5rem;
    border-radius: 30px;
    padding: 5px 20px;
}

.change-name button {
    margin: 10px 5px;
    font-size: 1.3rem;
    border-radius: 50px;
    cursor: pointer;
}

.save-team:hover {
    background: #2d3436;
    color: white;
}

.cancel-save-team:hover {
    background: #2d3436;
    color: white;   
}

.add-user {
    width: 300px;
    overflow-y: auto;
    margin-right: 30px;
    margin-top: 7px;
}

.add-team-member-or-cancel {
    width: 100%;
}

.add-user h2 {
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 0
}

.add-member-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-top: 10px;
    padding: 1%;
}

.add-member-info {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

.add-member-info h3 {
    margin-left: 5%;
    font-size: 1.2rem;
}

.add-member-pic {
    height: 50px;
    border-radius: 50px;
}

@media (max-width: 800px) {
    .add-member-pic {
        display: none;
    }
}

.add-member-button {
    width: 25%;
    font-size: 1.2rem;
    border-radius: 20px;
    padding: 10px 0px;
    background: #0984e3;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.add-member-button:hover {
    background: #d63031;
}

.all-members {
    margin-top: 25px;
}

.name-edit {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 20px;
}

.name-edit button {
    margin: 0px 5px;
}

.upgrade-delete {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.upgrade-delete button {
    margin: 5px 5px 0 0;
}

.delete-team-btn {
    background-color: black;
}

.cancel-delete-team button {
    margin: 1%;
}

/* .delete-input-and-btns {
    display: flex;
} */

