.error-flash {
    font-size: 1.1rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #f50057;
    margin: 15px auto;
    padding-top: 20px;
    border-radius: 10px;
    color: white;
}

.error-flash h3 {
    margin: 0;
}

.error-flash button {
    background: #3f51b5;
    margin: 0 10px;
    color: white;
    margin: 20px 10px;
}

.add-team-help {
    display: none;
}

.teams-list {
    height: 40vh;
    overflow-y: auto;
    /* background: #2d3436; */
    background: #D3D4E4;
    
}

.teams-list h1 {
    text-align: center;
    color: white;
}

.teams-list h1 {
    margin-bottom: 10px;
}

.newTeam form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.newTeam {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    /* background: #2d3436; */
    /* misty blue */
    background: #D3D4E4;
    padding: 0px 30px;
}

.newTeam h2 {
    color: black;
    font-size: 2rem;
}

.new-team-form {
    padding: 15px 0;
}

.nt-textfield input::placeholder {
    color: black;
    opacity: 0.9;
}

.newTeam input {
    margin-right: 5px;
    font-size: 1.3rem;
    border-radius: 30px;
    padding: 5px 20px;
    color:black;
}

.newTeam button {
    margin-right: 5px;
    /* background-color: rgb(100, 201, 167); */
}

.team-link {
    text-decoration: none;
}

.team-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-weight: bold;
}

.team-status h3 {
    width: 70%;
    overflow-x: auto;
    text-align: left;
    margin-left: 5%;
    color: black;
    /* color: white; */
    font-size: 1.5rem;
}

.team-premium {
    border: none;
    color: white;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.team-premium-premium {
    /* background: #fdcb6e; */
    color: #FBB513;
    font-weight: 900;
}

.team-premium-basic {
    color: #6c5ce7;
}

.premium {
    display: flex;
}

.premium span {
    font-weight: bold;
}

.team-card {
    margin-bottom: 0;
    padding: 10px 10px;
    /* background: #2d3436; */
    background: #D3D4E4
}

.team-card-active {
    background: #B97E7E;
    /* background: #DDE4E9 */
}

.team-card-active h3 {
    font-weight: 300;
    color: white;
}

#long-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
