.event-createdAt {
    margin-left: 1%;
    font-size: 1rem;
    color: gray;
    margin-top: 10px;
}

.at-title {
    margin: 30px 0 20px 0;
    font-size: 2rem;
}

.at-events {
    margin-top: 50px;
}

.activity-timeline select {
    font-size: 1.2rem;
    width: 75%;
}

.dropdowns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px auto;
}

.dropdowns h2 {
    font-size: 1rem;
}

.event {
    margin: 0 auto;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    align-items: center;
}

.event-activity {
    font-size: 1.5rem;
}

.event-info {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}

.user-pic {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

